@use "./variables" as *;

body {
  .header {
    .header__logo {
      color: $light-pink;
      font-size: $logo-size;
    }
  }
  .search-container {
    .search-container__instruction {
      color: $light-green;
      font-size: $heading-size;
    }
    .search-container__input {
      background: $pink-gradient-inner;
      border-radius: $border-radius;
      border: none;
      outline: $outline-width dashed $light-pink;
      font-size: $heading-size;
      color: $black;
    }
    .search-container__error {
      display: none;
      color: $error;
      text-align: center;
      margin-top: $error-margin;
    }
    .search-container__error--show {
      display: block;
    }
  }
  .cards-container {
    margin-top: $header-margin;
    .card {
      background: $green-gradient;
      border-radius: $border-radius;

      .card__header {
        font-size: $heading-size;

        .card__phonetic {
          font-size: $regular-size;
        }
        .card__remove:hover {
          cursor: pointer;
        }
      }

      .card__main {
        line-height: 150%;
      }
    }
  }
}
